@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.cursor-blink::after {
  content: "_"; /* Horizontal cursor */
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.dark {
  --tw-bg-opacity: 1;
  background-color: rgba(1, 25, 41, var(--tw-bg-opacity));
  color: #ffffff;
}

.circular-progress {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.circular-progress-background {
  fill: transparent;
  stroke: #000;
}

.circular-progress-circle {
  fill: transparent;
  stroke: #f97316;
  transition: stroke-dashoffset 0.3s;
}

.arrow-up {
  width: 0.75rem;
  height: 0.75rem;
  transform: translateY(-1px);
}

.circular-progress-container {
  position: fixed;
  bottom: -80px;
  right: 20px;
  transition: bottom 0.3s;
  z-index: 999;
}

.circular-progress-container.visible {
  bottom: 60px;
}
